<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gazebo_control_plugin" params="namespace_prefix:=''">
        <!-- mu1静,mu2动，kp 刚度系数 kd 阻尼系数 -->
        <gazebo reference="${namespace_prefix}front_left_wheel">
            <mu1>0.0</mu1>
            <mu2>0.0</mu2>
            <kp>20000.0</kp>
            <kd>10.0</kd>
            <minDepth>0.001</minDepth>
            <maxVel>100.0</maxVel>
        </gazebo>

        <gazebo reference="${namespace_prefix}front_right_wheel">
            <mu1>0.0</mu1>
            <mu2>0.0</mu2>
            <kp>20000.0</kp>
            <kd>10.0</kd>
            <minDepth>0.001</minDepth>
            <maxVel>100.0</maxVel>
        </gazebo>

        <gazebo reference="${namespace_prefix}back_left_wheel">
            <mu1>0.0</mu1>
            <mu2>0.0</mu2>
            <kp>20000.0</kp>
            <kd>10.0</kd>
            <minDepth>0.001</minDepth>
            <maxVel>100.0</maxVel>
        </gazebo>

        <gazebo reference="${namespace_prefix}back_right_wheel">
            <mu1>0.0</mu1>
            <mu2>0.0</mu2>
            <kp>20000.0</kp>
            <kd>10.0</kd>
            <minDepth>0.001</minDepth>
            <maxVel>100.0</maxVel>
        </gazebo>

        <gazebo>
            <plugin name="planar_move_controller" filename="libgazebo_ros_planar_move.so">
                <!-- 里程计和机器人基坐标系，添加命名空间前缀 -->
                <odometry_frame>${namespace_prefix}odom</odometry_frame>
                <robot_base_frame>${namespace_prefix}base_footprint</robot_base_frame>
                <odometry_topic>${namespace_prefix}odom</odometry_topic>
                <!-- 发布频率（单位Hz） -->
                <publish_rate>50</publish_rate>
                <!-- 控制更新频率（可选，默认20Hz） -->
                <update_rate>50</update_rate>
                <!-- 是否发布里程计和TF（可选，默认true） -->
                <publish_odom>true</publish_odom>
                <publish_odom_tf>true</publish_odom_tf>
                <!-- 里程计协方差（可选，默认已有值） -->
                <covariance_x>0.00001</covariance_x>
                <covariance_y>0.00001</covariance_y>
                <covariance_yaw>0.001</covariance_yaw>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>